.choices {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.choice__result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.choices .element {
  width: 70px;
  height: 70px;
  margin: 20px;
}

.blank-icon {
  width: 80px;
  height: 80px;
  margin-top: 37px;
  background-color: hsl(229, 25%, 31%);
  border-radius: 50%;
}

.result {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  color: white;
}

.result__text {
  font-size: 3rem;
  letter-spacing: 0;
}

.btn-reset {
  display: inline-block;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 20px 40px;
  background-color: white;
  width: 40%;
  margin: 10px auto;
  color: hsl(229, 25%, 31%);
  border-radius: 10px;
  font-size: 1.2rem;
}
